:root{
    --main-font-color: #757575;
    --main-title-color:#212121;
    --main-blue-color: #2196F3;
    --main-white-color:#FFFFFF;  
    --main-background-color:#2F303A;
    --white-color-clear:rgba(255, 255, 255, 0.6);
    --background-department:#F5F4FA;
}
body{
color:var(--main-font-color);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.header-flex{
    display:flex;
}
.header-line{
border-bottom: 1px solid  #ececec;
}
.logo{
    color: var(--main-title-color);
    text-decoration:none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    padding: 24px 0px;
}
.blue-text{ 
    color:var(--main-blue-color);
}
.remove-dots{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav{
    margin-right: 344px;
}
.nav-link{
    color: var(--main-title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px; 
    padding: 32px 0px; 
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
}
.nav-link:hover,.nav-link:focus{
    color: var(--main-blue-color);
}
.main-title{
    color: var(--main-white-color);
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin: 0 0 30px 0;
}
.title-button{
    color: var(--main-white-color);
    background-color: var(--main-blue-color);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 32px;
    cursor: pointer;
    font-family: inherit;
}
 .info-data {
    color:var(--main-font-color);
     text-decoration:none;
     font-weight: 500;
     font-size: 14px;   
     padding: 32px 0px;
    letter-spacing: 0.02em;
    display: block;
}
  .info-data:hover,.info-data:focus {
     color: var(--main-blue-color);
  }
.small-title{
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin:0 0 10px 0;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.s-title-description{
    color: var(--main-font-color);
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.big-title{
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list-size{
margin-bottom: 50px;
}
.list-not-last:not(:last-child){
margin-right: 8px;
}
 .list-margin{
margin: 15px;
 }
 .list-border-padding{
    border: 1px solid #eeeeee;
    border-top: transparent;
    padding: 20px 24px;

 }
.team-list-title{
font-weight: 500;
font-size: 16px;
color: var(--main-title-color);
text-align: center;
line-height: 1.19;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.team-list-text{
    font-size: 16px;
    text-align: center;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team-cards{
padding: 30px 0px;
}
.background-color-team {
    background-color: var(--background-department);
}
.background{
    background-color: var(--main-background-color);
}
.names-color {
    background-color: var(--background-department);
}
.footer-logo{
    color: var(--main-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.footer-no-style {
    list-style-type: none;
}
.footer-text{
    display:block;
    text-decoration:none;
    color: var(--white-color-clear);  
}
.footer-text:hover,
.footer-text:focus {
    color: var(--main-blue-color);
}
.footer-address{
    color: var(--main-white-color);
    text-decoration: none;
    font-style: normal;
}
.footer-padding{
    padding: 60px 0;
}
.footer-distance{
margin-bottom: 9px;
}
.departments{
font-weight: 500;
 font-size: 16px;
 color: var(--main-title-color);
 background-color: var(--background-department);
 padding:6px 22px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-family: inherit;
line-height: 1.63;
letter-spacing: 0.03em;
}
.departments:hover,.departments:focus {
 color: var(--main-white-color);
 background-color: var(--main-blue-color);
 cursor: pointer;
}
.container{
 max-width: 1200px;
 margin: 0 auto;
}
.portfolio-section-container{
    max-width: 575px;
    margin: 0 auto;
}
.display-flex{
    display:flex;
}
.info-flex{
    display: flex;
     width:307px;
}
.info-location:not(:last-child){
margin-right: 50px;
}
.section{
    padding: 94px 0;
}
.place{
   text-align: center;
}
.place-button{
    margin: 0 auto;
    display:block;
    border: none;
    border-radius: 4px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.background-team{
    background-color: var(--background-department);
}
.size-li{
    width: 270px;
}
.size-li:not(:last-child){
    margin-right: 30px;
}
.nav-location:not(:last-child){
margin-right: 50px;
}
.text-li{
    text-align: center;
    background-color:var(--main-white-color);
    border-radius: 0px 0px 4px 4px;
}
.text-li:not(:last-child) {
margin-right: 30px;
}
.section-block{
padding: 200px 0px;
}
.our-work{
padding-bottom: 94px;
}
 .work-types:not(:last-child){
margin-right: 30px;
 }
 .studio-currant {
     color: var(--main-blue-color);
 }
 .title-portfolio {
     color: var(--main-title-color);
     font-weight: 700;
     font-size: 18px;
     letter-spacing: 0.06em;
     line-height: 2;
 }

 .description-portfolio {
     color: var(--main-font-color);
     font-size: 16px;
     letter-spacing: 0.03em;
     margin-top: 4px;
 }